body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: 2e2e2e !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 2px solid #2e2e2e;
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

th {
    background-color: #2e2e2e;
    color: white;

}

.disclaimer {
    color: #b6b6b6;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #b6b6b6;
}

.progress {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.progress-container {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #b6b6b6;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #4CAF50;
    line-height: 40px;
    color: #4CAF50;
    font-weight: 900;
}

#progressBar1 {
    margin-left: 10 px;
    width: 0;
    height: 40px;
    background-color: #4CAF50;
    text-align: center;
    justify-content: center;
    color: #017405;
    font-weight: 900;
    font-size: 2rem;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#usernameModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.542);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
}

input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    accent-color: green;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    scale: 1.1;
}